*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fcd5ce;
}
.panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}
.ptop{
    display: flex;
    justify-content: space-between;
    padding: 0px 30%;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100px;
    background: #ebc6bf;
}
.elm{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elm h2{
    font-weight: 500;
}
.box{
    color:#ebc6bf;
    font-size:25px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.pbotm{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height:calc(100% - 100px);
    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ebc6bf;
    color: #7e7a7a;
    border-radius:50%;
}

.bubble:hover{
    cursor: pointer;
    background-color: #c6a099;
}